.boock{
    width: 100%;
    height: 1500px;
    background: url(https://novostiliteratury.ru/wp-content/uploads/2018/08/olimpiada_0.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.font-weight-bold{
   color: darkslategray;
   padding-top: 10px;
}